<!DOCTYPE html>

<html>
	
	<head>
		<title>{{text.title}}</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	
	<body>
		
		<div id="cont">
			
			<h1>{{text.title}}</h1>
			
			<p>{{text.paragraph}}</p>
			
			<h2>List</h2>
			
			<!-- Import list.html -->

			<!--{{VIEW(_/demo/list)}}-->
			
			<h2> Multi-dimensional list</h2>
			<ul>
				<!--{{FOREACH(multiList):}}-->
				<li>{{[#]}}: {{[0]}}, {{[1]}}, {{[third]}}</li>
				<!--{{FOREACH(multiList);}}-->
			</ul>
			
		</div>
		
	</body>
	
</html>
